<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <servlet>
		<servlet-name>Lista</servlet-name>
		<servlet-class>controller.lista.ListaControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lista</servlet-name>
		<url-pattern>/lista</url-pattern>
	</servlet-mapping>
	
    <servlet>
		<servlet-name>Report2</servlet-name>
		<servlet-class>controller.invoices.ReportInicio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Report2</servlet-name>
		<url-pattern>/invoices/reportInicio</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>Report</servlet-name>
		<servlet-class>controller.invoices.Report</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Report</servlet-name>
		<url-pattern>/invoices/report</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>ControllerMaterialsControllerAdd</servlet-name>
		<servlet-class>controller.materials.controller.ControllerMaterialsControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerMaterialsControllerAdd</servlet-name>
		<url-pattern>/materialsController/add</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ControllerMaterialsControllerView</servlet-name>
		<servlet-class>controller.materials.controller.ControllerMaterialsControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerMaterialsControllerView</servlet-name>
		<url-pattern>/materialsController/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ControllerMaterialsControllerDelete</servlet-name>
		<servlet-class>controller.materials.controller.ControllerMaterialsControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerMaterialsControllerDelete</servlet-name>
		<url-pattern>/materialsController/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControllerMaterialsControllerEdit</servlet-name>
		<servlet-class>controller.materials.controller.ControllerMaterialsControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerMaterialsControllerEdit</servlet-name>
		<url-pattern>/materialsController/edit</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>ControllerMaterialsControllerIndex</servlet-name>
		<servlet-class>controller.materials.controller.ControllerMaterialsControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerMaterialsControllerIndex</servlet-name>
		<url-pattern>/materialsController</url-pattern>
	</servlet-mapping>
    
    
    
    <servlet>
		<servlet-name>ProjectsControllerAdd</servlet-name>
		<servlet-class>controller.project.ProjectsControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectsControllerAdd</servlet-name>
		<url-pattern>/projects/add</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ProjectsControllerView</servlet-name>
		<servlet-class>controller.project.ProjectsControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectsControllerView</servlet-name>
		<url-pattern>/projects/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ProjectsControllerDelete</servlet-name>
		<servlet-class>controller.project.ProjectsControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectsControllerDelete</servlet-name>
		<url-pattern>/projects/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectsControllerEdit</servlet-name>
		<servlet-class>controller.project.ProjectsControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectsControllerEdit</servlet-name>
		<url-pattern>/projects/edit</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>ProjectsControllerIndex</servlet-name>
		<servlet-class>controller.project.ProjectsControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectsControllerIndex</servlet-name>
		<url-pattern>/projects</url-pattern>
	</servlet-mapping>
    
    
    <servlet>
		<servlet-name>ReportControllerAdd</servlet-name>
		<servlet-class>controller.report.ReportControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportControllerAdd</servlet-name>
		<url-pattern>/report/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportControllerView</servlet-name>
		<servlet-class>controller.report.ReportControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportControllerView</servlet-name>
		<url-pattern>/report/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ReportControllerDelete</servlet-name>
		<servlet-class>controller.report.ReportControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportControllerDelete</servlet-name>
		<url-pattern>/report/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportControllerEdit</servlet-name>
		<servlet-class>controller.report.ReportControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportControllerEdit</servlet-name>
		<url-pattern>/report/edit</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>ReportControllerIndex</servlet-name>
		<servlet-class>controller.report.ReportControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportControllerIndex</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	
	
	
    <servlet>
		<servlet-name>UsuarioControllerAdd</servlet-name>
		<servlet-class>controller.usuario.UsuarioControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControllerAdd</servlet-name>
		<url-pattern>/usuario/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsuarioControllerDelete</servlet-name>
		<servlet-class>controller.usuario.UsuarioControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControllerDelete</servlet-name>
		<url-pattern>/usuario/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsuarioControllerEdit</servlet-name>
		<servlet-class>controller.usuario.UsuarioControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControllerEdit</servlet-name>
		<url-pattern>/usuario/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsuarioControllerIndex</servlet-name>
		<servlet-class>controller.usuario.UsuarioControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControllerIndex</servlet-name>
		<url-pattern>/usuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsuarioControllerView</servlet-name>
		<servlet-class>controller.usuario.UsuarioControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControllerView</servlet-name>
		<url-pattern>/usuario/view</url-pattern>
	</servlet-mapping>
    
	
	
    <servlet>
		<servlet-name>MaterialsControllerAdd</servlet-name>
		<servlet-class>controller.materials.MaterialsControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaterialsControllerAdd</servlet-name>
		<url-pattern>/materials/add</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>MaterialsControllerView</servlet-name>
		<servlet-class>controller.materials.MaterialsControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaterialsControllerView</servlet-name>
		<url-pattern>/materials/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>MaterialsControllerDelete</servlet-name>
		<servlet-class>controller.materials.MaterialsControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaterialsControllerDelete</servlet-name>
		<url-pattern>/materials/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MaterialsControllerEdit</servlet-name>
		<servlet-class>controller.materials.MaterialsControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaterialsControllerEdit</servlet-name>
		<url-pattern>/materials/edit</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>MaterialsControllerIndex</servlet-name>
		<servlet-class>controller.materials.MaterialsControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaterialsControllerIndex</servlet-name>
		<url-pattern>/materials</url-pattern>
	</servlet-mapping>

	
	
	<servlet>
		<servlet-name>Lab08_20130867</servlet-name>
		<servlet-class>controller.Lab08_20130867Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lab08_20130867</servlet-name>
		<url-pattern>/lab08_20130867</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UsersControllerLogin</servlet-name>
		<servlet-class>controller.users.UsersControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogin</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerLogin2</servlet-name>
		<servlet-class>controller.users.UsersControllerLogin2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogin2</servlet-name>
		<url-pattern>/users/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerLogout</servlet-name>
		<servlet-class>controller.users.UsersControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogout</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>
	 
	<servlet>
		<servlet-name>UsersControllerAdd</servlet-name>
		<servlet-class>controller.users.UsersControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerView</servlet-name>
		<servlet-class>controller.users.UsersControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerEdit</servlet-name>
		<servlet-class>controller.users.UsersControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerEdit</servlet-name>
		<url-pattern>/users/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerDelete</servlet-name>
		<servlet-class>controller.users.UsersControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerIndex</servlet-name>
		<servlet-class>controller.users.UsersControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesControllerAdd</servlet-name>
		<servlet-class>controller.roles.RolesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesControllerEdit</servlet-name>
		<servlet-class>controller.roles.RolesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerEdit</servlet-name>
		<url-pattern>/roles/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesControllerDelete</servlet-name>
		<servlet-class>controller.roles.RolesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesControllerIndex</servlet-name>
		<servlet-class>controller.roles.RolesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<url-pattern>/resources/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerAdd</servlet-name>
		<servlet-class>controller.access.AccessControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerEdit</servlet-name>
		<servlet-class>controller.access.AccessControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerEdit</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerDelete</servlet-name>
		<servlet-class>controller.access.AccessControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerIndex</servlet-name>
		<servlet-class>controller.access.AccessControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>InvoicesControllerAdd</servlet-name>
		<servlet-class>controller.invoices.InvoicesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvoicesControllerAdd</servlet-name>
		<url-pattern>/invoices/saveFactura</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InvoicesControllerDelete</servlet-name>
		<servlet-class>controller.invoices.InvoicesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvoicesControllerDelete</servlet-name>
		<url-pattern>/invoices/removeFactura</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InvoicesControllerIndex</servlet-name>
		<servlet-class>controller.invoices.InvoicesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvoicesControllerIndex</servlet-name>
		<url-pattern>/invoices</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InvoicesControllerEdit</servlet-name>
		<servlet-class>controller.invoices.InvoicesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvoicesControllerEdit</servlet-name>
		<url-pattern>/invoices/renovar</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
